<header>
    <div class="header flex justify-center">
      <h1>Mister BitCoin</h1>
    </div>
    <nav class="flex justify-center">
      <ul class="navlist flex">
        <!-- <a routerLink="./"> <li>Home</li></a> -->
        <a routerLink="./"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> <img class="nav-icon" src="./assets/img/home.png"/></a>
        <a routerLink="./contacts" routerLinkActive="active-link"> <img class="nav-icon" src="./assets/img/users.png"/> </a>
        <a routerLink="./charts" routerLinkActive="active-link">  <img class="nav-icon" src="./assets/img/increase.png"/></a>
      </ul>
    </nav>
  </header>