.move-list {
    h2 {
        font-size: rem(18px);
        text-align: center;
        min-width:90%;
    }
    padding:20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    gap:10px;
  }