<section class="edit-page flex column align-center">
  <img src="https://robohash.org/{{ contact._id || 'new' }}" />
  <p>{{ contact._id ? "Edit Contact" : "Add new contact" }}</p>
  <form (ngSubmit)="onSubmit()" #form="ngForm" ngNativeValidate>
    <input
      type="text"
      [(ngModel)]="contact.name"
      placeholder="Name"
      minlength="2"
      name="name"
      required
    />
    <input
      type="email"
      [(ngModel)]="contact.email"
      name="email"
      placeholder="Email"
      minlength="5"
      required
    />
    <input
      type="text"
      [(ngModel)]="contact.phone"
      placeholder="Phone"
      name="phone"
      required
      minlength="5"
    />
    <button>save</button>
    <a routerLink="/contacts">
      <button>back</button>
    </a>
  </form>
  <button *ngIf="contact._id" (click)="onRemove()">delete</button>
</section>
