<section class="home">
  <div *ngIf="user._id" class="user-info flex align-center">
    <img src="https://robohash.org/{{ user._id }}.png" />
    <div class="flex column">
      <p>Hi {{ user.username }}</p>
      <p>Balance:</p>
      <p>
        {{ user.balance }} BITS
        <!-- <span>( ${{ getBtcToUsd }} )</span> -->
      </p>
      <p *ngIf="rate">{{ user.balance / rate | currency }}</p>
    </div>
    <button (click)="onLogout()">Logout</button>
  </div>
  <div *ngIf="!user._id" class="user-info flex align-center">
    <form
      class="login flex column"
      #form="ngForm"
      (ngSubmit)="onLogin(form)"
      ngNativeValidate
    >
      <p>Login:</p>
      <input
        type="text"
        ngModel
        name="username"
        placeholder="username"
        required
      />
      <input
        type="password"
        ngModel
        name="password"
        placeholder="password"
        required
      />
      <button>log me in</button>
    </form>
  </div>
  <move-list *ngIf="user._id && user.moves.length" [user]="user"></move-list>
</section>
