<section class="contact-details flex column align-center justify-center">
  <img src="https://robohash.org/{{ contact._id }}" />
  <strong
    ><p>{{ contact.name }}</p></strong
  >
  <p>{{ contact.email }}</p>
  <p>{{ contact.phone }}</p>
  <p>Balance: {{ contact?.balance +' Bits'}}</p>
  <div class="actions flex">
    <a routerLink="/contacts">
      <button>back</button>
    </a>
    <a routerLink="/contacts/edit/{{ contact._id }}">
      <button>edit</button>
    </a>
    <button (click)="isTransfer = !isTransfer" *ngIf="user.balance">
      {{ !isTransfer ? "Transfer" : "Close" }}
    </button>
  </div>
  <div *ngIf="isTransfer && user.balance " class="transfer-box fade-in">
    <form #form="ngForm" (ngSubmit)="onTransfer(form)" ngNativeValidate>
      <p>0</p>
      <input
      #range="ngModel"
      type="range"
      required
      placeholder="Amount to transfer"
      name="amount"
      ngModel="0"
      [max]="user.balance"
      (input)="form.submitted = false"
      />
      <p>{{ user.balance }}</p>
      <button>transfer {{ range.value }} bits</button>
    </form>
    <p class="completed-">
      {{
        form?.submitted && range.value > 0
          ? "successfully transferred " + range.value + " bits"
          : ""
      }}
    </p>
  </div>
  <move-list *ngIf="user" [user]="user" [contact]="contact" ></move-list>
</section>
