/* You can add global styles to this file, and also import other style files */
/* Breakpoint mixins */
/* Media  Mixins */
.fs12 {
  font-size: 0.75rem;
}

.fs14 {
  font-size: 0.875rem;
}

.fs18 {
  font-size: 1.125rem;
}

.fs20 {
  font-size: 1.25rem;
}

.fs24 {
  font-size: 1.5rem;
}

.fs28 {
  font-size: 1.75rem;
}

.fs30 {
  font-size: 1.875rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex > *.full {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square-ratio {
  position: relative;
  overflow: hidden;
}

.square-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.square-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.square-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-ratio {
  position: relative;
  overflow: hidden;
}

.video-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.video-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portrait-ratio {
  position: relative;
  overflow: hidden;
}

.portrait-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 177.77778%;
}

.portrait-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.portrait-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 20px;
      grid-template-columns: 20px 1fr 20px;
}

.main-container > * {
  -ms-grid-column: 2;
  grid-column: 2;
}

.main-container > *.full {
  grid-column: 1 /-1;
}

@media (min-width: 500px) {
  .main-container {
    -ms-grid-columns: minmax(20px, 1fr) minmax(auto, 460px) minmax(20px, 1fr);
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 460px) minmax(20px, 1fr);
  }
}

@media (min-width: 760px) {
  .main-container {
    -ms-grid-columns: minmax(20px, 1fr) minmax(auto, 720px) minmax(20px, 1fr);
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 720px) minmax(20px, 1fr);
  }
}

@media (min-width: 1000px) {
  .main-container {
    -ms-grid-columns: minmax(20px, 1fr) minmax(auto, 960px) minmax(20px, 1fr);
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 960px) minmax(20px, 1fr);
  }
}

@media (min-width: 760px) {
  .main-layout {
    max-width: 1100px;
    width: 1100px;
  }
}

.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  height: 30px;
  background-color: #fcac00;
  border: 0;
  padding: 0 10px;
  border-radius: 3px;
  text-transform: capitalize;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .15s;
  transition: all .15s;
  cursor: pointer;
}

button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.247);
  background-color: #ffbd30;
}

.fade-in {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-view {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fffbeb;
  min-height: 100vh;
}
/*# sourceMappingURL=styles.css.map */